h1 {
    margin: 0;
}

a {
    color: aqua;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    overflow: scroll;
}

.card {
    margin: 20px;
    padding: 10px;
    border: 1px;
    border-style: solid;
    border-color: aliceblue;

    width: 90%;
}

.card h4 {
    margin: 10px;
}

.image-Container {
    /* display: grid; */
    
    justify-content: center;
    align-items: center;
    border: 1px;
    border-style: solid;
    border-color: aliceblue;

    /* width: ; */
    
}

.image-buttons {
    display: flex;
    justify-content: center;
}

img {
    /* max-height: inherit;
    max-width: inherit; */
    width: 100%;
}
