h1 {
    margin: 0;
}

a {
    color: aqua;
}

.card-container {
    margin: 10px;
    /* overflow: scroll; */
    max-height: 100%;
}

.card {
    /* display: flex;
    flex-direction: column; */
    background-color: #222d42;
    margin: 20px;
    padding: 15px;

    box-shadow: 2px 2px 2px 1px rgba(255, 255, 255, 0.1);

    width: 90%;
}

.card h4 {
    margin: 10px;
}

.image-Container {
    justify-content: center;
    align-items: center;
}

.image-buttons {
    display: flex;
    justify-content: center;
}

img {
    /* max-height: inherit;
    max-width: inherit; */
    width: 100%;
}
