h1 {
    margin: 0;
}

a {
    color: aqua;
}

.card {
    margin: 20px;
    padding: 10px;
    border: 1px;
    border-style: solid;
    border-color: aliceblue;
}

.card h4 {
    margin: 10px;
}

.image-Container {
    display: grid;
    
    justify-content: center;
    align-items: center;
    border: 1px;
    border-style: solid;
    border-color: aliceblue;

    max-width: 800px;
    
}

.image-buttons {
    display: flex;
    justify-content: center;
}

img {
    max-height: inherit;
    max-width: inherit;
}
